:root {
  // danger
  --color-danger-100: #e03f3f;

  // info
  --color-info-100: #c1d9e5;
  --color-info-200: #80a2b6;
  --color-info-300: #11b3fe;
  --color-info-400: #0095e0;

  // light
  --color-light-100: #ffffff;
  --color-light-200: #f6f7f8;
  --color-light-300: #eaf1f7;
  --color-light-400: #e3ebef;
  --color-light-500: #c1d9e5;

  // dark
  --color-dark-100: #282828;
}
