:root {
  --font-family-primary: 'Roboto', sans-serif;

  // line heights
  --line-height-xxs: 19.2px;
  --line-height-xs: 20px;
  --line-height-s: 23px;
  --line-height-m: 48px;
  --line-height-l: 60px;

  // font sizes
  --font-size-xs: 16px;
  --font-size-s: 20px;
  --font-size-m: 40px;
  --font-size-l: 50px;

  // font weights
  --font-weight-regular: 300;
  --font-weight-bold: 400;
}
